body {
    padding: 20px;
    background-color: bisque;
}

h1 {
    text-align: center;
    
}

p {
    line-height: 1.5;
}

.links a {
    padding: 10px;
    color: green;

}

img {
    display: block;
    max-width: 100%;
    margin: 10px auto;
    border-radius: 5px;

}
.links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.contact {
    text-align: center;
}

